.orange-color {
  color:#F0961F;
  font-weight: 350;
}

/*Navbar*/
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 185px;
  height: 80px;
}
 .nav-link{
  margin-left: 550px;
 }

/*Banner*/
.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 180px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: 800;
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;

}

.banner p {
  font-size: 1.2rem;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight:300;
}

.banner img {
  border-radius: 1500px;
  height: 100px;
/*  width: 90px;*/
  margin: 0 190px;

}

.first-section {
  margin-top: -3rem;
}

/*Footer*/
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

/*intro*/

.section h3{
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;

}

.section {
background: #F0961F;
padding: 6rem 1.5rem

}


.box {
  color: black;
  text-align: center;
  margin-bottom: 3rem;
}


/*Middle pic*/
.big-img img {
  height: 320px;

}

.img-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style: none;
  font-weight: 300;
}

/*aboutme*/
.content {
  display: flex;
  justify-content: center;
}

.knowledge {
line-height: 1.25;

}

.knowledge p {
  color: black;

}

.list-center{
  text-align:center;
}
.column{
  border-left: 1px solid #E6ECF8;
  padding: 60px 35px;
  flex-grow: 1;
}


.column h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;

}

.column img {
  margin-bottom: 1.5rem;
}

.column p{
  margin-top: 2rem;
}

.skills {
  margin-top: -7rem;
}

.container{
  border-radius: 16px;
  background-color: white;
  border-bottom: 1px solid #E6ECF8;

}
/*project-cards*/
.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 300px;
  color: black;
  font-size: 24px;
  font-weight: 800;
  /*text-shadow: 1px 1px 3px rgba(0,0,0,0.2);*/
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-grow: 1;
  margin-bottom: 1rem;
  font-family:'Open Sans', sans-serif;
}

.cards-project{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


/*projects*/

.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Open Sans', sans-serif;

}

.container {
  text-align: center;
}

.container p {
  font-weight: 300;
  line-height: 1.25;
  font-size: 20px;
}

.photo-size{
  width: 50px;
  height: 45px;
  margin-top: 16px
}

.flex-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  top-margin: 6px;
}

.flex-logo h2 {
  margin-top: 16px
}

.pop {
  border: 3px solid #F0961F;
}

